$light-gray: #969696;
$hover-btn-color: #2b2b2b;

@mixin flex($justify: initial, $align: initial, $wrap: nowrap, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

html {
	box-sizing: border-box;
	font-size: 18px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
    font-family: 'Rubik', sans-serif;
    @include flex($direction: column);
    min-height: 100vh;
}

.header {
	background-image: url(/images/header-bg.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 329px;

	&__inner {
        @include flex($align: center, $direction: column);
	}

	&__title {
		color: #fff;
	}

	&__form {
		display: flex;
        width: 600px;
        margin-bottom: 1rem;
	}

	&__search {
		padding: 1rem;
        flex: 1;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        border: 0;
	}

	&__submit {
		background-color: #000;
        width: 60px;
        border: 0;
        @include flex($align: center, $justify: center);
        cursor: pointer;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;

        &:hover {
            background-color: $hover-btn-color;
        }

		&::before {
			content: '';
			background-image: url(/images/icon-arrow.svg);
			position: absolute;
			width: 10px;
			height: 14px;
			background-repeat: no-repeat;
		}
    }
    
    &__error {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: underline;
    }
}

.main {
    position: relative;
    @include flex($direction: column);
    flex: 1;
}

.ip-info {
    align-items: center;
    background-color: #fff;
    width: 63%;
    min-width: 770px;
    display: flex;
    border-radius: 20px;
    min-height: 166px;
    padding: 1rem 2rem;
    position: absolute;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    > * {
        width: 100%;
        min-height: 87px;
        position: relative;

        p {
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: $light-gray;
            font-weight: 500;
            font-size: .9rem;
            letter-spacing: 1px;
        }
    }

    >:not(:last-child) {
        margin-right: 2rem;
        padding-right: 2rem;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 1px;
            height: 80px;
            background-color: $light-gray;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.map-wrapper {
    flex: 1;
    z-index: 0;
    display: flex;
    flex-direction: column;

    &__map {
        flex: 1;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 14px;
    }

    .ip-info {
        min-width: 614px;
    }
}

@media (max-width: 770px) {
    .header__form {
        width: 90%;
    }

    .ip-info {
        flex-direction: column;
        min-width: auto;
        width: 90%;
        padding: 2rem;
        text-align: center;
        top: -174px;

        > * {
            width: auto;
            min-height: auto;
        }

        >:not(:last-child) {
            margin: 0;
            margin-bottom: .5rem;
            padding: 0;

            &::after {
                width: 0;
                height: 0;
            }
        }
    }
}